* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e8f1ef;
}

.card {
    width: 300px;
    height: min-content;
    padding: 25px;
    margin: 0 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.card .card-img {
    width: 100%;
    text-align: center;
}

.card .card-img img {
    height: 200px;
    margin: -150px 0 15px 0;
    filter: drop-shadow(0 8px 8px #cdd5e2);
    transition: .3s;
}

.card:hover .card-img img {
    height: 240px;
}

.card .card-title h3 {
    color: #1b2430;
    font-size: 28px;
    letter-spacing: -.5px;
}

.card .card-title p {
    color: #b3bac3;
    font-size: 18px;
    margin-top: -4px;
    letter-spacing: -.5px;
}

.card .card-details {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.card .card-details span {
    color: #b3bac3;
    font-size: 16px;
}

.card .card-details p {
    color: #1b2430;
    font-size: 20px;
    font-weight: 700;
    margin-top: -2px;
}

.card button {
    width: 100%;
    height: 40px;
    color: #fff;
    background: #1b2430;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
